<div>

<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>

<div class=" main  ">
 
<form [formGroup]="form" class="h-full" (ngSubmit)="onSubmit()">
   
    <div class="flex flex-col  items-center  gap-y-5 p-6">
      
         <h1 class="mb-5 text-2xl ">ENTER NEW WORKER DETAILS</h1>
    <span class="p-float-label" styleClass="input">
   <input class="border-2 b rounded-md" type="text" pInputText formControlName="name" required />
    <label for="username">Username</label>

</span> 
 <p-multiSelect [options]="work" formControlName="selectedwork" optionLabel="name" placeholder="Select work"
   styleClass="input" required>
    </p-multiSelect>

        <p-dropdown formControlName="selectedgender" [options]="gender" optionLabel="name" placeholder="Select a gender"
          styleClass="input" required>
        </p-dropdown>
   

   <p-inputNumber inputId="integeronly" formControlName="phoneno" [useGrouping]="false" styleClass="phoneinput"
     placeholder="Enter Phone NO " required>
   </p-inputNumber>
<p-toast/>

   <p-button pRipple [loading]="loading" type="submit" label="Submit" [raised]="true" [loading]="loading"  icon=" pi pi-check"
     iconPos="right">
   </p-button>
</div>
</form>

</div>
</div>