<div class="overflow-hidden">
<p-tabMenu [model]="items" [activeItem]="activeItem"> </p-tabMenu>
<p-calendar [(ngModel)]="date" (onSelect)="selectdate()" styleClass="calinput" [showIcon]="true" [showTime]="false"> </p-calendar>
<div class="flex flex-col  items-center ">
  
    <div #logoDiv class=" logo hidden " style="background-image: url(../assets/nowork.jpeg);"></div>
 
  
  <div id="row1" class="grid grid-rows-1 gap-y-10 m-10  md:grid-cols-4">
    <div  *ngFor="let card of cards">
      <app-card [location]="card.location" [pending]="card.pending" [completed]="card.completed"></app-card>
    </div>
  </div>

 
</div>
</div>