<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>

<div class="p-2  ">

  <div class="card w-full  border-1 b rounded-md shadow-xl pl-2">
    <p-table #dt2 [value]="workerdata" dataKey="id" [rows]="8" [showCurrentPageReport]="true" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      styleClass="p-datatable-striped p-datatable-lg p-datatable-header" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" [scrollable]="true">
        <tr>
          <th style="min-width:75px">Edit Details </th>
          <th style="min-width:200px ">Worker name</th>
          <th style="min-width:200px">Worker ID</th>
          <th style="min-width:200px">Gender</th>
          <th style="min-width:200px">status </th>
          <th style="min-width:200px">phone No </th>
          <th style="min-width:600px">qualification</th>



      </ng-template>
      <ng-template pTemplate="body" let-data >
        <tr>
          <td class="border-b-2 border-[black]">
            <p-toast></p-toast>
             <p-button id="data.id" icon="pi pi-pencil" (click)="showDialog(data.staffid)"></p-button>
           </td>
          <td class="border-b-2 border-[black]">{{ data.name}}</td>
          <td class="border-b-2 border-[black]">{{ data.staffid }}</td>
          <td class="border-b-2 border-[black]">{{ data.gender }}</td>
         

          <td class="border-b-2 border-[black]">
            <p-tag [value]="getStatus(data.status)" [severity]="getSeverity(data.status)"></p-tag>
          </td>
           <td class="border-b-2 border-[black]">{{ data.phone }}</td>
        
          <td class="border-b-2 border-[black]">{{ data.skill }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No Work found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>


    <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" styleClass="dialog" >
      <ng-template pTemplate="header" >
        <p class="text-xl">Edit Worker Information</p>
      </ng-template>

      <div class="dialogdiv grid grid-cols-2 border-2 rounded-md h-full w-full justify-items-center divide-y divide-x ">
        <div class="h-full w-full flex justify-center items-center"><p >Worker ID : {{editdata?.staffid}}</p></div> 
          
        <div class="h-full w-full flex justify-center items-center"><input   class="h-10 w-36 border-2 rounded-sm"      pInputText 
          [disabled]="true" 
          placeholder="{{editdata?.staffid}}"
          /></div>
          <div class="h-full w-full flex justify-center items-center"> <p  class="">Worker Name :{{editdata?.name}}</p></div>
          <div class="h-full w-full flex justify-center items-center">   <input class="border-2 b rounded-md" type="text" pInputText  required /></div>

          <div class="h-full w-full flex  justify-center items-center">  <p>Worker phone No :{{editdata?.phone}}</p></div>
          <div class="h-full w-full flex justify-center items-center"> <input   class="h-10 w-36 border-2 rounded-sm"      pInputText 
          
          /></div>
          <div class="h-full w-full flex justify-center items-center">  <p>Gender :{{editdata?.gender}}</p></div>

          <div class="h-full w-full flex justify-center items-center">
              <p-dropdown  [options]="gender" optionLabel="name" placeholder="Select a gender"
            styleClass="input" required>  </p-dropdown>
          </div>

          <div class="h-full w-full flex justify-center items-center"><p>Qulaification :{{editdata?.skill}}</p></div>
          <div class="h-full w-full flex  justify-center items-center"><p-multiSelect [options]="work"  optionLabel="name" placeholder="Select work"
            styleClass="input" required>
             </p-multiSelect></div>


       </div>

      <ng-template pTemplate="footer">
        
        <p-button icon="pi pi-check" (click)="okclick()" label="update" pAutoFocus [autofocus]="true"></p-button>
      </ng-template>
    </p-dialog>


</div>
